.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Header__layout {
  padding: 8px 16px;
  flex-grow: 1;
}

.Header__toggleMenu-layout {
  align-self: center;
  padding-left: 16px;
}

.Header__toggleMenu-btn {
  background-color: var(--jh-primary-color);
  border: 1px solid transparent;
}

.Header__toggleMenu-btn:hover {
  background-color: var(--jh-primary-color-hover) !important;
  border: 1px solid transparent !important;
}

.Header__layout-text {
  color: rgba(255, 255, 255, 0.55);
}

@media screen and (width < 768px) {
  .Header__layout {
    padding: 8px 4px;
  }
}

.dropdown-toggle::after {
  display: none !important;
}